<%- pageCSS = `
<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css"/>
` %>
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                Roles</h1>
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <li class="breadcrumb-item text-muted">
                    <a href="/admin/dashboard" class="text-muted text-hover-primary">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-500 w-5px h-2px"></span>
                </li>
                <li class="breadcrumb-item text-muted">Roles</li>
            </ul>
        </div>
    </div>
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-fluid">

        <% if (access_routes.UserManagements.Roles[0].permission === "1") { %>
        <div class="card card-flush mb-4">
            <div class="card-body py-4">
                <div class="filter">
                    <form id="addEditForm" action=""
                        method="POST" class="row">
                        <input type="hidden" name="_token" value="wAYoUGG1mXG10G1Qqe5wstXxjOvm9r71WdsTEAYR"
                            autocomplete="off"> <input type="hidden" id="role_id" name="role_id">
                        <div class="col-lg-4">
                            <label class="form-label">Role Name<span class="mandat">*</span></label>
                            <input type="text" id="role_name" name="role_name" class="form-control mb-2"
                                placeholder="Role Name" onkeypress="return allowAlphabetsSpaceNumbers(event);"
                                maxlength="100">
                            <span class="text-danger error-text role_name-error"></span>
                        </div>

                        <div class="col-lg-2">
                            <div class="pt-9">
                                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                                <button type="button" class="btn btn-sm btn-light"
                                    onclick="return resetForm();">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
        <div class="card card-flush">
            <div class="card-body">
                <table class="table table-rounded border align-middle w-100" id="role_table">
                    <thead class="bg-light-secondary text-uppercase">
                        <tr class="fw-semibold fs-7 text-gray-700 border-bottom border-gray-200">
                            <th class="min-w-125px">Name</th>
                            <th class="min-w-100px">Created/Updated By</th>
                            <!-- <th class="min-w-100px">Updated By</th> -->
                            <th class="min-w-40px text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    const isActionVisible = <%- access_routes.UserManagements.Roles[0].permission  === "1" ? 'true' : 'false'; %>;
  </script>
<%- pageJs = `
<script src="/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="/js/pages/role.js"></script>
` %>
<%- pageJs %>
